@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight&display=swap');

:root{
    --cream: #EEECE7;
    --black: #000000;
    --white: #FFFFFF;
    --inter-font: 'Inter', sans-serif;
    --inter-tight-font: 'Inter Tight', sans-serif;
}